In [43]:
import pandas as pd

In [ ]:
# 데이터 불러오기
df = pd.read_csv('C:/Users/human/2nd_project/eco/last/Data_Preprocessing/merged_aptinfo_distance_politics_transactionCount_E_pop_density_df.csv')
service = pd.read_csv('C:/Users/human/2nd_project/eco/last/Data_Preprocessing/서울시 상권분석서비스(소득소비-행정동).csv',encoding = 'cp949')

In [ ]:
# nan값 제거

df['contract_date'].isna().sum()
df[df['contract_date'].isnull()]

# 중복제거
df = df.drop(index=18084)
# df[df['gu_adong']=='강동구_둔촌2동']

# 분기추출
df['contract_quarter_code'] = (df['contract_date'].str[:4]  # 연도 추출
    + (df['contract_date'].str[5:7].astype(int) // 4 + 1).astype(str) 
)
# 분기별 분리
df['contract_quarter_code'] = df['contract_quarter_code'].astype('int64')

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 251096 entries, 0 to 251096
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   NO                        251096 non-null  object
 1   contract_date             251096 non-null  object
 2   gu                        251096 non-null  object
 3   a_dong                    251096 non-null  object
 4   l_dong                    251096 non-null  object
 5   gu_adong                  251096 non-null  object
 6   gu_ldong                  251096 non-null  object
 7   latitude                  251096 non-null  float64
 8   longitude                 251096 non-null  float64
 9   adong_prev_1_month        251096 non-null  float64
 10  adong_prev_3_months       251096 non-null  float64
 11  adong_prev_6_months       251096 non-null  float64
 12  ldong_prev_1_month        251096 non-null  float64
 13  ldong_prev_3_months       251096 non-null  float64
 14  ldong_prev_6_months       251096 non-null  float64
 15  closest_bus_stop_dist_km  251096 non-null  float64
 16  bus_stop_score            251096 non-null  float64
 17  closest_park_dist_km      251096 non-null  float64
 18  park_score                251096 non-null  float64
 19  closest_hospital_dist_km  251096 non-null  float64
 20  hospital_score            251096 non-null  float64
 21  closest_school_dist_km    251096 non-null  float64
 22  school_score              251096 non-null  float64
 23  closest_station_dist_km   251096 non-null  float64
 24  station_score             251096 non-null  float64
 25  exclusive_area_m2         251096 non-null  float64
 26  floor                     251096 non-null  float64
 27  brand_label_encoded       251096 non-null  float64
 28  Q_1                       251096 non-null  float64
 29  Q_2                       251096 non-null  float64
 30  Q_3                       251096 non-null  float64
 31  Q_4                       251096 non-null  float64
 32  apt_age                   251096 non-null  float64
 33  USD_exchange_rate         251096 non-null  float64
 34  CNY_exchange_rate         251096 non-null  float64
 35  JPY_exchange_rate         251096 non-null  float64
 36  K_progressive_president   251096 non-null  float64
 37  K_conservative_president  251096 non-null  float64
 38  A_progressive_president   251096 non-null  float64
 39  A_conservative_president  251096 non-null  float64
 40  A_progressive_senate      251096 non-null  float64
 41  A_conservative_senate     251096 non-null  float64
 42  A_progressive_house       251096 non-null  float64
 43  A_conservative_house      251096 non-null  float64
 44  pyeong_price              251096 non-null  float64
 45  adjusted_price            251096 non-null  float64
 46  year                      251096 non-null  int64
 47  population_density        251096 non-null  float64
 48  contract_quarter_code     251096 non-null  int64
dtypes: float64(40), int64(2), object(7)
memory usage: 95.8+ MB

In [88]:
# 2024 년 제거
service_filtered = service[~service['기준_년분기_코드'].astype(str).str.contains('2024')]
service_filtered

,기준_년분기_코드,행정동_코드,행정동_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
50,20231,11650652,양재2동,3222382,7,10104796000,2222160000,152143000,70918000,1817290000,801723000,259544000,192584000,1093403000,152287000,3342744000
156,20231,11110550,부암동,3647449,7,1385759000,232200000,39726000,12611000,101703000,109837000,78943000,2652000,131748000,6197000,670142000
262,20231,11110640,이화동,3024996,7,10622974000,1035923000,213685000,41488000,2776380000,30454000,2965305000,176154000,207416000,181317000,2994852000
263,20231,11680660,개포1동,5336373,9,250506000,70320000,8632000,1380000,134557000,0,18870000,0,0,5140000,11607000
420,20231,11110515,청운효자동,3780222,8,2784933000,880544000,197642000,57935000,121901000,25568000,53711000,86449000,171279000,67694000,1122210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9345,20224,11710641,문정1동,3568357,7,4066688000,1037337000,159114000,18946000,743394000,111789000,110344000,119378000,653474000,121129000,991783000
9346,20224,11710646,장지동,3263464,7,3726339000,1310415000,36856000,15776000,663267000,334925000,331217000,85082000,195835000,80583000,672383000
9347,20224,11710647,위례동,4202887,8,4953932000,929585000,63524000,7286000,543822000,1228796000,662566000,29008000,196900000,195254000,1097191000
9348,20224,11740600,천호1동,2473111,6,2965499000,766647000,109813000,71949000,475302000,56654000,218323000,48717000,411595000,142343000,664156000
9349,20224,11740660,성내3동,2897346,6,7115757000,1704023000,216698000,98728000,933545000,426794000,242356000,178853000,417384000,230889000,2666487000

In [ ]:
# 원본파일에는 있지만 소득파일에는 없는 동 확인
for c in df['a_dong'].unique():
    if c not in service['행정동_코드_명'].unique():
        print(c)

개포3동
상일1동
상일2동
상계3·4동
상계6·7동
중계2·3동
금호2·3가동
종로1·2·3·4가동
종로5·6가동
면목3·8동

In [ ]:
# 행정동코드명 이름 바꾸기
service_filtered['행정동_코드_명'] = service_filtered['행정동_코드_명'].str.replace('?','·')
service_filtered['행정동_코드_명'] = service_filtered['행정동_코드_명'].str.replace('일원2동','개포3동')

In [ ]:
# 상일동 분리
service_filtered1 = service_filtered[service_filtered['행정동_코드_명'] == '상일동'].copy()
service_filtered1['행정동_코드_명'] = '상일1동'  # 상일1동으로 수정

service_filtered2 = service_filtered[service_filtered['행정동_코드_명'] == '상일동'].copy()
service_filtered2['행정동_코드_명'] = '상일2동'

service_filtered_result = pd.concat([service_filtered, service_filtered1, service_filtered2], ignore_index=True)

,기준_년분기_코드,행정동_코드,행정동_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
50,20231,11650652,양재2동,3222382,7,10104796000,2222160000,152143000,70918000,1817290000,801723000,259544000,192584000,1093403000,152287000,3342744000
156,20231,11110550,부암동,3647449,7,1385759000,232200000,39726000,12611000,101703000,109837000,78943000,2652000,131748000,6197000,670142000
262,20231,11110640,이화동,3024996,7,10622974000,1035923000,213685000,41488000,2776380000,30454000,2965305000,176154000,207416000,181317000,2994852000
263,20231,11680660,개포1동,5336373,9,250506000,70320000,8632000,1380000,134557000,0,18870000,0,0,5140000,11607000
420,20231,11110515,청운효자동,3780222,8,2784933000,880544000,197642000,57935000,121901000,25568000,53711000,86449000,171279000,67694000,1122210000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9345,20224,11710641,문정1동,3568357,7,4066688000,1037337000,159114000,18946000,743394000,111789000,110344000,119378000,653474000,121129000,991783000
9346,20224,11710646,장지동,3263464,7,3726339000,1310415000,36856000,15776000,663267000,334925000,331217000,85082000,195835000,80583000,672383000
9347,20224,11710647,위례동,4202887,8,4953932000,929585000,63524000,7286000,543822000,1228796000,662566000,29008000,196900000,195254000,1097191000
9348,20224,11740600,천호1동,2473111,6,2965499000,766647000,109813000,71949000,475302000,56654000,218323000,48717000,411595000,142343000,664156000
9349,20224,11740660,성내3동,2897346,6,7115757000,1704023000,216698000,98728000,933545000,426794000,242356000,178853000,417384000,230889000,2666487000

In [ ]:
# 결측치 제거
def impute_zero(row):
    for c in row.index[5:]:
        if row[c] == 0:
            q = str(row['기준_년분기_코드'])[-1]            
            q_mask = service_filtered_result['기준_년분기_코드'].map(lambda x: (str(x)[-1] == q))
            dn = row['행정동_코드_명']
            dn_mask = service_filtered_result['행정동_코드_명'].map(lambda x: x == row['행정동_코드_명'])
            mean_v = service_filtered_result[q_mask & dn_mask][c].mean()
            if mean_v == 0:
                mean_v = service_filtered_result[dn_mask][c].mean()

            row[c] = mean_v
    
    return row

service_filtered_result_imputed = service_filtered_result.apply(impute_zero, axis=1)        

service_filtered_result.iloc[:10, :].apply(lambda row: print(row["행정동_코드"]), axis=1)

In [271]:
merged_df = df.merge(service_filtered_result_imputed, 
                     left_on=['a_dong', 'contract_quarter_code'], 
                     right_on=['행정동_코드_명', '기준_년분기_코드'], 
                     how='left')

In [ ]:
# 0인값 찾기
for c in merged_df.columns:
    print( c, (merged_df[c].values == 0).sum() )

NO 0
contract_date 0
gu 0
a_dong 0
l_dong 0
gu_adong 0
gu_ldong 0
latitude 0
longitude 0
adong_prev_1_month 3
adong_prev_3_months 0
adong_prev_6_months 0
ldong_prev_1_month 106
ldong_prev_3_months 0
ldong_prev_6_months 0
closest_bus_stop_dist_km 0
bus_stop_score 0
closest_park_dist_km 0
park_score 77778
closest_hospital_dist_km 51791
hospital_score 0
closest_school_dist_km 82
school_score 0
closest_station_dist_km 0
station_score 12269
exclusive_area_m2 0
floor 0
brand_label_encoded 0
Q_1 201928
Q_2 183015
Q_3 183414
Q_4 186497
apt_age 3921
USD_exchange_rate 0
CNY_exchange_rate 0
JPY_exchange_rate 0
K_progressive_president 42595
K_conservative_president 209023
A_progressive_president 163170
A_conservative_president 88448
A_progressive_senate 163170
A_conservative_senate 88448
A_progressive_house 35756
A_conservative_house 215862
pyeong_price 0
adjusted_price 0
year 0
population_density 0
contract_quarter_code 0
기준_년분기_코드 0
행정동_코드 0
행정동_코드_명 0
월_평균_소득_금액 0
소득_구간_코드 0
지출_총금액 0
식료품_지출_총금액 0
의류_신발_지출_총금액 0
생활용품_지출_총금액 1097
의료비_지출_총금액 160
교통_지출_총금액 5196
교육_지출_총금액 0
유흥_지출_총금액 1202
여가_문화_지출_총금액 0
기타_지출_총금액 0
음식_지출_총금액 0

In [ ]:
# 0이 포함된 행의 행정동 찾기
trans0 = merged_df[merged_df['교통_지출_총금액']==0]
trans0['a_dong'].unique()

array(['둔촌1동', '난향동', '시흥2동', '상계9동', '월계2동', '쌍문4동', '돈암2동'],
      dtype=object)

In [ ]:
# 생활용품 지출 총금액이 0인 행정동의 value_counts 값
test = merged_df[merged_df['생활용품_지출_총금액']==0]
test['a_dong'].value_counts()

a_dong
신정6동    817
돈암2동    280
Name: count, dtype: int64

In [ ]:

t = merged_df[merged_df['a_dong'] == '신정6동']
print((t['생활용품_지출_총금액']!= 0).sum())

t = merged_df[merged_df['a_dong'] == '돈암2동']
print((t['생활용품_지출_총금액']!= 0).sum())

0
1087

In [ ]:
# 지출총금액 컬럼 뒤로 값이 0인 행 출력 총 7055개의 행 65개의 컬럼
copied_merged_df = merged_df.copy()
mask = copied_merged_df.iloc[:, 54:].isin([0]).sum(axis=1) > 0
include_zero_df = copied_merged_df[mask]

(7055, 65)

In [ ]:
# 결측치 처리
def impute_zero2(row):
    if row.name % 100 == 0:
        print(row.name, "번째 데이터를 처리합니다.")

    for c in row.index[54:]:
        if row[c] == 0:
            q = str(row['기준_년분기_코드'])[-1]            
            q_mask = merged_df['기준_년분기_코드'].map(lambda x: (str(x)[-1] == q))
            dn = row['행정동_코드_명']
            dn_mask = merged_df['행정동_코드_명'].map(lambda x: x == row['행정동_코드_명'])
            mean_v = merged_df[q_mask & dn_mask][c].mean()
            if mean_v == 0:
                mean_v = merged_df[dn_mask][c].mean()
                if mean_v == 0:
                    gu_mask = (merged_df["gu"] == row['gu'])
                    mean_v = merged_df[gu_mask][c].mean()

            row[c] = mean_v
    
    return row

# merged_df_imputed = merged_df.apply(impute_zero2, axis=1)        

# service_filtered_result.iloc[:10, :].apply(lambda row: print(row["행정동_코드"]), axis=1)

In [ ]:
# 결측치 처리 함수 돌리기
copied_merged_df = merged_df.copy()
mask = copied_merged_df.iloc[:, 54:].isin([0]).sum(axis=1) > 0
include_zero_df = copied_merged_df[mask]

merged_df_imputed2 = include_zero_df.apply(impute_zero2, axis=1)

0 번째 데이터를 처리합니다.
100 번째 데이터를 처리합니다.
200 번째 데이터를 처리합니다.
300 번째 데이터를 처리합니다.
18400 번째 데이터를 처리합니다.
48500 번째 데이터를 처리합니다.
48600 번째 데이터를 처리합니다.
48700 번째 데이터를 처리합니다.
77500 번째 데이터를 처리합니다.
77600 번째 데이터를 처리합니다.
77700 번째 데이터를 처리합니다.
77800 번째 데이터를 처리합니다.
77900 번째 데이터를 처리합니다.
78000 번째 데이터를 처리합니다.
78100 번째 데이터를 처리합니다.
78200 번째 데이터를 처리합니다.
78300 번째 데이터를 처리합니다.
78400 번째 데이터를 처리합니다.
78500 번째 데이터를 처리합니다.
78600 번째 데이터를 처리합니다.
90800 번째 데이터를 처리합니다.
90900 번째 데이터를 처리합니다.
91000 번째 데이터를 처리합니다.
91100 번째 데이터를 처리합니다.
91200 번째 데이터를 처리합니다.
91300 번째 데이터를 처리합니다.
91400 번째 데이터를 처리합니다.
91500 번째 데이터를 처리합니다.
91600 번째 데이터를 처리합니다.
91700 번째 데이터를 처리합니다.
91800 번째 데이터를 처리합니다.
91900 번째 데이터를 처리합니다.
92000 번째 데이터를 처리합니다.
92100 번째 데이터를 처리합니다.
92200 번째 데이터를 처리합니다.
92900 번째 데이터를 처리합니다.
93000 번째 데이터를 처리합니다.
93200 번째 데이터를 처리합니다.
94000 번째 데이터를 처리합니다.
108800 번째 데이터를 처리합니다.
108900 번째 데이터를 처리합니다.
109000 번째 데이터를 처리합니다.
109100 번째 데이터를 처리합니다.
109200 번째 데이터를 처리합니다.
109300 번째 데이터를 처리합니다.
109400 번째 데이터를 처리합니다.
109500 번째 데이터를 처리합니다.
109600 번째 데이터를 처리합니다.
109700 번째 데이터를 처리합니다.
109800 번째 데이터를 처리합니다.
174900 번째 데이터를 처리합니다.
175300 번째 데이터를 처리합니다.
175700 번째 데이터를 처리합니다.
176000 번째 데이터를 처리합니다.
198300 번째 데이터를 처리합니다.
198400 번째 데이터를 처리합니다.
210200 번째 데이터를 처리합니다.
210300 번째 데이터를 처리합니다.
210400 번째 데이터를 처리합니다.
210500 번째 데이터를 처리합니다.
210600 번째 데이터를 처리합니다.
210700 번째 데이터를 처리합니다.
210800 번째 데이터를 처리합니다.
210900 번째 데이터를 처리합니다.
223100 번째 데이터를 처리합니다.
227400 번째 데이터를 처리합니다.
227500 번째 데이터를 처리합니다.

In [468]:
copied_merged_df2 = copied_merged_df.copy()
copied_merged_df2.loc[merged_df_imputed2.index, :] = merged_df_imputed2.values

In [ ]:
# 0인 컬럼 찾기
(copied_merged_df2.iloc[:, 54:].isin([0]).sum(axis=1) > 0).sum()

0

In [370]:
copied_merged_df2.shape

(251618, 65)

In [371]:
copied_merged_df2.to_csv('final_merged_data.csv',index=False, encoding='utf-8')

In [373]:
# '지출_총금액' 컬럼 뒤의 모든 컬럼들의 합으로 값을 계산
columns_to_sum = copied_merged_df2.loc[:, '식료품_지출_총금액':]  # '지출_총금액' 뒤의 컬럼 선택
copied_merged_df2['지출_총금액'] = columns_to_sum.sum(axis=1)

# 결과 확인
copied_merged_df2[['지출_총금액'] + list(columns_to_sum.columns)].head()

,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,교육_지출_총금액,유흥_지출_총금액,여가_문화_지출_총금액,기타_지출_총금액,음식_지출_총금액
0,6.050199e+08,69157000,9668000.0,7546000.0,25737000.0,3413000.0,16499000.0,4.043619e+08,38382000.0,19285000,10971000
1,6.050199e+08,69157000,9668000.0,7546000.0,25737000.0,3413000.0,16499000.0,4.043619e+08,38382000.0,19285000,10971000
2,6.050199e+08,69157000,9668000.0,7546000.0,25737000.0,3413000.0,16499000.0,4.043619e+08,38382000.0,19285000,10971000
3,6.050199e+08,69157000,9668000.0,7546000.0,25737000.0,3413000.0,16499000.0,4.043619e+08,38382000.0,19285000,10971000
4,6.050199e+08,69157000,9668000.0,7546000.0,25737000.0,3413000.0,16499000.0,4.043619e+08,38382000.0,19285000,10971000

In [374]:
# 지출 항목 컬럼 추출 (지출_총금액 제외)
expenditure_columns = ['식료품_지출_총금액', '의류_신발_지출_총금액', '생활용품_지출_총금액', '의료비_지출_총금액', 
                       '교통_지출_총금액', '교육_지출_총금액', '유흥_지출_총금액', '여가_문화_지출_총금액', 
                       '기타_지출_총금액', '음식_지출_총금액']

# 각 컬럼의 퍼센트 계산 및 새 컬럼 추가
for column in expenditure_columns:
    copied_merged_df2[f'{column}_퍼센트'] = (copied_merged_df2[column] / copied_merged_df2['지출_총금액']) * 100

# 결과 확인
copied_merged_df2.head()

,NO,contract_date,gu,a_dong,l_dong,gu_adong,gu_ldong,latitude,longitude,adong_prev_1_month,...,식료품_지출_총금액_퍼센트,의류_신발_지출_총금액_퍼센트,생활용품_지출_총금액_퍼센트,의료비_지출_총금액_퍼센트,교통_지출_총금액_퍼센트,교육_지출_총금액_퍼센트,유흥_지출_총금액_퍼센트,여가_문화_지출_총금액_퍼센트,기타_지출_총금액_퍼센트,음식_지출_총금액_퍼센트
0,2019_00620,2019-12-29,강남구,개포1동,개포동,강남구_개포1동,강남구_개포동,37.480287,127.057848,16.0,...,11.430533,1.597964,1.247232,4.253909,0.564114,2.727018,66.834481,6.343923,3.187498,1.813329
1,2019_02480,2019-12-21,강남구,개포1동,개포동,강남구_개포1동,강남구_개포동,37.480287,127.057848,16.0,...,11.430533,1.597964,1.247232,4.253909,0.564114,2.727018,66.834481,6.343923,3.187498,1.813329
2,2019_03315,2019-12-18,강남구,개포1동,개포동,강남구_개포1동,강남구_개포동,37.485406,127.054710,16.0,...,11.430533,1.597964,1.247232,4.253909,0.564114,2.727018,66.834481,6.343923,3.187498,1.813329
3,2019_03829,2019-12-16,강남구,개포1동,개포동,강남구_개포1동,강남구_개포동,37.480287,127.057848,16.0,...,11.430533,1.597964,1.247232,4.253909,0.564114,2.727018,66.834481,6.343923,3.187498,1.813329
4,2019_04623,2019-12-14,강남구,개포1동,개포동,강남구_개포1동,강남구_개포동,37.483280,127.054393,16.0,...,11.430533,1.597964,1.247232,4.253909,0.564114,2.727018,66.834481,6.343923,3.187498,1.813329